name: Test Konflux builds

on:
  push:
    branches:
    - main
    - release-*
    tags:
    - '*'
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-konflux
  cancel-in-progress: true

jobs:
  init:
    runs-on: ubuntu-24.04
    outputs:
      fact-tag: ${{ steps.generate-tag.outputs.fact-tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref_name }}
          submodules: true
          fetch-depth: 0

      - id: generate-tag
        run: |
          echo "fact-tag=$(make tag)-fast" >> "$GITHUB_OUTPUT"

  wait-for-images:
    runs-on: ubuntu-24.04
    needs:
    - init
    steps:
      - uses: stackrox/actions/release/wait-for-image@v1
        with:
          token: ${{ secrets.QUAY_RHACS_ENG_BEARER_TOKEN }}
          image: rhacs-eng/release-fact:${{ needs.init.outputs.fact-tag }}
          limit: 2400 # 40m

  run-konflux-tests:
    uses: ./.github/workflows/integration-tests.yml
    needs:
    - init
    - wait-for-images
    with:
      version: ${{ github.head_ref || github.ref_name }}
      registry: quay.io/rhacs-eng/release-fact
      tag: ${{ needs.init.outputs.fact-tag }}
      job-tag: konf
    secrets: inherit
